body {
background-color:"#00008B";
}
#map-div {
display: flex; 
justify-content: center; 
position: relative; 
}
#prompt-div {
position: absolute;
width: 100px;
height: 100px;
border: solid;
background: white;
}
#main-head {
color: white;
text-align: center;
font-family: "Helvetica Neue";
}
#instructions {
color: white;
text-align: center; 
font-family: "Helvetica Neue";
}
#button-div {
text-align: center;
}
#start-button {
margin-bottom: 10px;
width: 96px;
height: 30px;
border-radius: 10px;
background: white;
font-family: "Helvetica Neue";
}
#world-map {
box-shadow: 5px 5px 50px black;
margin-bottom: 30px;
} 
#world-pic {
width: 80px;
}
#pic-div {
text-align: center; 
}
#country-box {
background: white; 
font-family: "Helvetica Neue";
text-align: center; 
margin-bottom: 20px;
}
